/* Používáme intuitivní výpočet rozměrů prvků. */
:root {
  --background-primary: #DAB5AF;
  --background-secondary: #D2CEE9;
  --text: #1f2403;
  --text-navigation: #0808b4;
}

/* odstranit bílý okraj */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  background-color: var(--background-primary);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 90%;
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  color: var(--text-navigation);
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

footer {
  background-color: var(--background-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: center;
}

.article {
  background-color: var(--background-secondary);
  width: 80%;
  padding: 2.5rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 8px;
}

/* han stylování hlavičky */
.menu {
  text-align: right;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navigation {
  text-align: right;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* stylování patičky */
footer {
  background-color: transparent;
  padding-inline: 10px;
  text-align: center;
}

/* jiný font na nadpisy */
h1,
h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
}

/* stylování odkazů */
a {
  text-decoration: none;
  color: var(--text-navigation);
}

a:hover,
a:focus,
a:active {
  color: rgb(26, 26, 109)
}

/* stylování fotky*/
.han__photo {
  height: 60vh;
  width: auto;
  border-radius: 50% 0 50% 0;
  margin: 20px;
  object-fit: cover;
}

/* stylování textu*/
.han__article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  background-color: transparent;
}


/* stylování pozadí */
.han__container {
  background-image: radial-gradient(farthest-corner at 55% 60%, #77778e, var(--background-primary))
}

.han__main {
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 0;
}

/* responzivnější zalamování */
@media (min-width: 800px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap
  }

  .han__main {
    flex-direction: row;
    width: 80vw;
  }
}

/* katka.html stylovani */
.katka--foto {
  width: 15rem;
  height: 15rem;
  background-image: url(./katka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.profile--katka {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* stylovani uvod */
.spolu--foto {
  width: 15rem;
  height: 15rem;
  background-image: url(./foto1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
