/* variables */
:root {
  --background-primary: #DAB5AF;
  --background-secondary: #77778e;
  --text: #1f2403;
  --text-navigation: #0808b4;
}

/* odstranit bílý okraj */
body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  background-image: radial-gradient(farthest-corner at 55% 60%, var(--background-secondary), var(--background-primary));
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* hlavička a menu */
header {
  width: 95%;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: right;
  flex-wrap: nowrap;
}

.project-name {
  color: var(--text-navigation);
}

.navigation {
  display: flex;
  gap: 15px;
  text-align: right;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul {
  padding-inline-start: 20px;
}

/* patička */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-inline: 10px;
  text-align: center;
}

/* obsah stránky */
main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: end;
  width: 95%;
  padding: 0;
}

.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  width: 100%;
  font-size: 1.4rem;
}

/* jiný font na nadpisy */
h1,
h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  margin: 0;
}

/* stylování odkazů */
a {
  text-decoration: none;
  color: var(--text-navigation);
}

a:hover,
a:focus,
a:active {
  color: rgb(26, 26, 109)
}

/* stylování fotky*/
.photo {
  border-radius: 50% 0 50% 0;
  margin: 20px;
  object-fit: cover;
  object-position: 50% 50%;
}

/* responzivnější zalamování */
@media (min-width: 800px) {
  .menu {
    text-align: center;
    flex-wrap: nowrap
  }

  main {
    flex-direction: row;
    align-items: center;
    width: 80vw;
  }

  .article {
    width: 80%;
    font-size: 1.5rem;
  }

  header {
    width: 90%;
    padding: 2.5rem 2rem;
    font-size: 1.5rem;
  }
}

/* katka.html stylovani */
/*
.katka--foto {
  width: 15rem;
  height: 15rem;
  background-image: url(./katka.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.profile--katka {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
*/
/* stylovani uvod */
/*
.spolu--foto {
  width: 15rem;
  height: 15rem;
  background-image: url(./foto1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
*/
/*
.profile {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
*/
